.container{
    display: flex;
    flex-flow: column;
    margin: 5px;
    gap:5px;
    height: 95vh;
}

.innerBody{
    background-color: aqua;
    height: 90vh;;
    display: flex;
}

.leftbody{
    background-color: rgb(61, 182, 111);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightbody{
    background-color: rgb(255, 199, 78);
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.tasknow{
    background-color: coral;
    width: 55vh;
    height: 30vh;
}

.tasknumbers{
    background-color: darkgray;
    width: 55vh;
    height: 40vh;
}