.pendingTasktable{
    background-color: blue;
    height: 77vh;
    width: 55vh;
}

.listAll{
    background-color: aqua;
    height: 64vh;
    margin: 5px;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding-top: 5px;
}